@import url('https://fonts.googleapis.com/css2?family=Bad Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://db.onlinewebfonts.com/c/1a991b240e707c46ca904d731893f108?family=Neue+Montreal');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Oswald:wght@700&display=swap');
@font-face {
    font-family: "thunder";
    src: url(Thunder-LC.otf);
}
/*Custom to Start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100vh;
    background: #e5e3dc;
    cursor: none;
}
/*Content Box*/
.website-content{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/*NavBar*/
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 20px;
    font-size: 1.2em;
    line-height: 90%;
}
/*Links Named*/
.hover-this {
    transition: all 0.3s ease;
    cursor: none;
    z-index: 5;
}

.hover-this span{
    display: inline-block;
    font-family: "Bad Script";
    font-weight: 700;
    color: #0a0a0a;
    font-size: 36px;
    pointer-events: none;
    transition: transform 0.1s linear;
}
/*Hover Cursor*/
.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #e5e3dc;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 8;
    transition: 100ms;
}

.hover-this:hover + .cursor {
    transform: scale(7);
}
.grow, .grow-small{
    transition: 100ms;
    transform: scale(10);
    background: #e5e3dc;
    mix-blend-mode: difference;
}
.grow-small{
    transform: scale(3);
}
.site-header{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    border-radius: 10%;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#svg{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 6;
}
.eyesbox{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 7;
}
.container{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}
.text-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: "Oswald";
    font-size: 160px;
    line-height: 160x;
    height: 160px;
    z-index: 5;
    text-transform: uppercase;
}
.container div{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-link+.text-link{
    margin-left: 20px;
}
/*Rotating Form*/
.circular-text{
    z-index: 2;
    transform: translate(-120%, -50%);
    color: #0a0a0a;
    font-size: 16px;
    font-family: "thunder";
    font-size: bolder;
    transition: 0.5s ease-out;
    animation: rotateit 10s linear infinite;
}
@keyframes rotateit {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo-box{
    position: fixed;
    z-index: 2;
    top: 4%;
    right: 7%;
    width: max-content;
}
.img-logo{
    position: relative;
    z-index: 2;
    top: -110px;
    left: 3px;
    height: 75px;
}
/*Marquee*/
.marquee{
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding-left: 4em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(-3deg);
}
.marquee span{
    font-family: "thunder";
    font-weight: 700;
    color: #6bd978;
    font-size: 1500%;
    text-transform: uppercase;
    display: inline-block;
    padding-left: -10%;
    animation: marquee-animation 120s linear infinite;
}

@keyframes marquee-animation {
    from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-1{
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.img-2{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}
/*pre loader page full*/
.pre-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0a0a0a;
    color: #e5e3dc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: none;
}
.pre-loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pre-loader-container .header{
    position: relative;
    width: max-content;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: center;
}
.header h1{
    position: relative;
    top: 125px;
    width: max-content;
    text-transform: uppercase;
    text-align: center;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 5vw;
    line-height: 90%;
    color: #0a0a0a;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}
.text-highlight-art:hover{
    color: #0a0a0a;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}
.text-highlight-soul:hover{
    color: #0a0a0a;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}
.header h1::before{
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    width: 0%;
    transition: 1s;
    animation: fill 2s cubic-bezier(0.6, 0, 0.4, 1) forwards;
    color: #e5e3dc;
    animation-delay: 2s;
}
@keyframes fill {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.header-wrapper::after
{
    content: "";
    position: relative;
    top: 120px;
    left: -20px;
    width: 110%;
    height: 120px;
    background: #0a0a0a;
    margin: 0 auto;
}
.pre-loader-btn{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    margin: 3em 0em 1em 0;
    font-family: "Neue Montreal";
    z-index: 2;
    opacity: 0;
}
.btn{
    width: max-content;
}
.pre-loader-btn svg{
    position: relative;
    width: 80px;
    top: 0;
    padding: 0 0.4em;
}
@media (min-width: 1260px) {
    .img-1{
        height: 150px;
    }
    .img-2{
        top: 64%;
        height: 150px;
    }
}
@media (max-width: 1260px) {
    .container div{
        font-size: 150px;
    }
    .img-1{
        height: 150px;
    }
    .img-2{
        height: 150px;
    }
}
@media (max-width: 1100px) {
    .container div{
        font-size: 120px;
        top: -10px;
    }
    .text-link{
        height: 140px;
    }
}
@media (max-width: 940px) {
    .container div{
        flex-direction: column;
        align-items: center;
        font-size: 150px;
        top: 0px;
    }
    .img-1{
        height: 100px;
    }
    .img-2{
        top: 64%;
        height: 100px;
    }
}
@media (max-width: 540px) {
    .container div{
        font-size: 100px;
    }
    .text-link{
        height: 120px;
    }
}
@media (max-width: 380px) {
    .container div{
        font-size: 80px;
    }
}
.draw{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}