#home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.site-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container div{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-link+.text-link{
    margin-left: 20px;
}

/*Rotating Form*/
.circular-text{
    transform: translate(-120%, -50%);
    color: #0a0a0a;
    font-size: 16px;
    font-family: "thunder";
    font-weight: bolder;
    transition: 0.5s ease-out;
    animation: rotateit 10s linear infinite;
}

.logo-box{
    position: absolute;
    z-index: 6;
    top: 3%;
    right: 4%;
    width: max-content;
}
.img-logo{
    position: relative;
    top: -115px;
    left: 5px;
    height: 75px;
}

/*Marquee*/
.marquee{
    position: absolute;
    bottom: 5%;
    left: -10%;
    width: 120%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(-3deg);
    display: flex;
    justify-content: center;
}
.marquee span{
    font-family: "thunder";
    font-weight: 700;
    color: #6bd978;
    font-size: 1500%;
    text-transform: uppercase;
    display: inline-block;
    animation: marquee-animation 120s linear infinite;
}

section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 1260px) {
    .container div{
        font-size: 150px;
    }
}
@media (max-width: 1100px) {
    .container div{
        font-size: 120px;
        top: -10px;
    }
}
@media (max-width: 940px) {
    .container div{
        flex-direction: column;
        align-items: center;
        font-size: 150px;
        top: 0px;
    }
}
@media (max-width: 540px) {
    .container div{
        font-size: 100px;
    }
    .text-link{
        font-size: 60px; /* Explicitly set font size for links */
        height: auto; /* Allow height to adjust */
        line-height: 1.2;
    }
    .marquee span {
        font-size: 800%; /* Reduce marquee size */
    }
    #svg {
        transform: scale(0.7); /* Scale down eyes */
    }
}
@media (max-width: 380px) {
    .container div{
        font-size: 60px;
    }
    .text-link{
        font-size: 40px;
    }
    .marquee span {
        font-size: 600%;
    }
    #svg {
        transform: scale(0.5);
    }
}
