@keyframes rotateit {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes marquee-animation {
    from { 
        transform: translateX(0); 
    }
    to { 
        transform: translateX(-50%); 
    }
}
