@import url('https://fonts.googleapis.com/css2?family=Bad Script&display=swap');
@import url("https://db.onlinewebfonts.com/c/99501fdab737541e9315ceaf9229370f?family=Monument+Extended+Regular");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://db.onlinewebfonts.com/c/1a991b240e707c46ca904d731893f108?family=Neue+Montreal');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Oswald:wght@700&display=swap');
@font-face {
    font-family: "thunder";
    src: url(Thunder-LC.otf);
}
::-webkit-scrollbar {
    width: 5px;
}
  /* Track */
::-webkit-scrollbar-track {
    background-color: none;
    width: 0px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a0a0a; 
    border-radius: 10px;
  }
/*Custom to Start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}
html, body{
    width: 100%;
    scroll-behavior: smooth;
    background: #e5e3dc;
    cursor: none;
}
/*Content Box*/
.website-content{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/*NavBar*/
.navbar{
    width: 100%;
    height: 4%;
    font-family: "Neue Montreal";
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 6;
    top: 0px;
    color: #0a0a0a;
    padding: 2em 20px;
    font-size: 1.2em;  
}
.opaque-navbar {
    background-color: transparent;
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: rgb(0, 0, 0, 0.9);
    box-shadow: 5px 0px 20px #747474;
    color:#e5e3dc;
    height: 60px;
    transition: background-color .5s ease 0s;
}

/*Links Named*/
.hover-this {
    transition: all 0.3s ease;
    cursor: none;
    z-index: 1;
}

.logo{
    display: inline-block;
    font-family: "Bad Script";
    font-weight: 700;
    font-size: 36px;
    color: #0a0a0a;
    pointer-events: none;
    transition: transform 0.1s linear;
}
.navbarLogo{
    color: #e5e3dc;
}
/*Hover Cursor*/
.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #e5e3dc;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 15;
    transition: 100ms;
}

.hover-this:hover + .cursor {
    transform: scale(7);
}
.grow, .grow-small{
    transition: 100ms;
    transform: scale(10);
    background: #e5e3dc;
    mix-blend-mode: difference;
}
.grow-small{
    transform: scale(5);
}
.site-header{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    border-radius: 10%;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#svg{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
g{
    position: absolute;
    z-index: 4;
}
.container{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-link{
    text-decoration: none;
    color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    font-size: 160px;
    line-height: 160x;
    height: 160px;
    text-transform: uppercase;
}
.container div{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-link+.text-link{
    margin-left: 20px;
}
/*Rotating Form*/
.circular-text{
    transform: translate(-120%, -50%);
    color: #0a0a0a;
    font-size: 16px;
    font-family: "thunder";
    font-size: bolder;
    transition: 0.5s ease-out;
    animation: rotateit 10s linear infinite;
}
@keyframes rotateit {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo-box{
    position: absolute;
    z-index: 6;
    top: 3%;
    right: 4%;
    width: max-content;
}
.img-logo{
    position: relative;
    top: -115px;
    left: 5px;
    height: 75px;
}
/*Marquee*/
.marquee{
    position: absolute;
    bottom: 2%;
    width: 100%;
    padding-left: 4em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(-3deg);
}
.marquee span{
    font-family: "thunder";
    font-weight: 700;
    color: #6bd978;
    font-size: 1500%;
    text-transform: uppercase;
    display: inline-block;
    padding-left: -10%;
    animation: marquee-animation 120s linear infinite;
}

@keyframes marquee-animation {
    from { 
        transform: translateX(0); 
    }
  to { 
    transform: translateX(-50%); 
}
}
section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-1{
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.img-2{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

/*pre loader page full*/
.header-wrapper::after
{
    content: "";
    position: relative;
    top: 120px;
    left: -20px;
    width: 110%;
    height: 120px;
    background: #0a0a0a;
    margin: 0 auto;
}
.pre-loader-btn{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    margin: 3em 0em 1em 0;
    font-family: "Neue Montreal";
    opacity: 0;
}
.btn{
    width: max-content;
}
.pre-loader-btn svg{
    position: relative;
    width: 80px;
    top: 0;
    padding: 0 0.4em;
}
@media (min-width: 1260px) {
    .img-1{
        height: 150px;
    }
    .img-2{
        top: 64%;
        height: 150px;
    }
}
@media (max-width: 1260px) {
    .container div{
        font-size: 150px;
    }
    .img-1{
        height: 150px;
    }
    .img-2{
        height: 150px;
    }
}
@media (max-width: 1100px) {
    .container div{
        font-size: 120px;
        top: -10px;
    }
    .text-link{
        height: 140px;
    }
}
@media (max-width: 940px) {
    .container div{
        flex-direction: column;
        align-items: center;
        font-size: 150px;
        top: 0px;
    }
    .img-1{
        height: 100px;
    }
    .img-2{
        top: 64%;
        height: 100px;
    }
    .logo{
        font-size: 28px;
    }
}
@media (max-width: 540px) {
    .container div{
        font-size: 100px;
    }
    .text-link{
        height: 120px;
    }
    
}
@media (max-width: 380px) {
    .container div{
        font-size: 80px;
    }
    .logo{
        font-size: 24px;
    }
}
.draw{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}


/*Contact form start*/
.contact-web{
    position: relative;
    padding-top: 4%;
    width: 100%;
    color: #e5e3dc;
    background-color: #0a0a0a;
    font-family: "Neue Montreal";
}
.branding{
    display: flex;
    align-items: center;
    display: none;
}
.contact-logo{
    height: 30px;
}

.contact-marquee{
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 1em;
}
.contact-marquee span{
    font-family: "Monument Extended Regular";
    font-weight: 700;
    color: #ff4c00;
    font-size: 6em;
    text-transform: uppercase;
    display: inline-block;
    padding-left: -10%;
    animation: marquee-animation 15s linear infinite;
}
.col{
    width: 50%;
    padding: 1em 3em;
}
.pink{
    transition-duration: 2s;
    position: relative;
    left: 0px;
}
.contact-section h3{
    text-transform: uppercase;
    color: #747474;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-section span{
    text-transform: uppercase;
}
.contact-form{
    position: relative;
    top: -20px;
}
.item{
    padding: 3em 0 0 0;

}
.contact-info{
    display: flex;
}
.address{
    padding-left: 4em;
}
input{
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #747474;
    font-size: 24px;
    padding: 0 1em;
    width: 100%;
    color: #e5e3dc;
    font-family: "Neue Montreal";
}
.contact-row{
    display: flex;
    margin: 2em 0 !important;
}
textarea#message{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #747474;
    font-size: 24px;
    padding: 24px;
    color: #e5e3dc;
    font-family: "Neue Montreal";
}
.submit{
    width: 100%;
}
.submit button{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #e5e3dc;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.send-icon{
    font-size: 48px;
}

@media (min-width:900px) {
    .contact-section{
        width: 100%;
        display: flex;
    }
}
@media (max-width:450px) {
    .branding{
        display: none;
    }
   
}
@media (max-width: 391px) {

}
@media (max-width: 900px) {
    .col{
        width: 100%;
    }
    .contact-web{
        overflow-y: scroll;
    }
    .contact-info{
        flex-direction: column;
    }
    .address{
        padding-left: 0px;
    }
    .col h4{
        margin-top: 30px;
        font-size: 30px;
    }
    .submit button{
        font-size: 36px;
    }
    .send-icon{
        font-size: 36px;
    }
}
button{
    background-color: transparent;
    border: none;
}
.social-link{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #e5e3dc;
}
.social-link + .social-link{
    margin-left: 30px;
}

.preloader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}
.loader{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
}
.count-preload{
    font-family: 'Neue Montreal';
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    font-weight: 600;
    color: #ff4c00;
}